.group-heading {
  cursor: pointer;
}

.group-content {
  padding-bottom: 1px;
  overflow: hidden;
}

.group-heading ~ .group-content {
  transform: scaleY(0);
  max-height: 0;
  transform-origin: top;
  transition: .5s ease-in;
}

.group-heading.active ~ .group-content {
  transform: scaleY(1);
  transform-origin: top;
  max-height: 10000px;
  transition: .5s ease-in;
}

.group-heading::after {
  content: '';
  display: inline-block;
  position: relative;
  left: 8px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  transition: .3s;
}

.group-heading.active::after {
  transform: rotate(180deg);
  transition: .3s;
}

.group-edit-section {
  border: 1px solid red;
}

.group-edit-panel {
  display: none;
}

.group-add-panel.hide ~ .group-edit-panel  {
  display: block;
}

.editting-tbody tr:not(.editting-line) {
  background: grey;
}

.loss {
  color: red;
}

.profit {
  color: #00d37a;
}