table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.edit-line-button {
  width: 100%;
}

.edit-cell {
  border: none;
}

.editting-table tr:not(.editting-line) {
  color: $grey-disabled;
  cursor: not-allowed;
}