$white: #fff;
$grey: #f0f0f0;
$grey-blue: #bdcbd6;
$dark-grey-blue: #4b636e;
$green: #a5d6a7;
$yellow: #ffc107;
$faint-red: #ef9a9a;
$red: #d32f2f;

//.mdc-layout-grid__cell {
//  background: red;
//  height: 20px;
//}
